@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gurajada&display=swap');
*
{
    cursor: url(../img/default.png), url(img/default.png),pointer;
}
a{
    cursor: url(../img/icono2.png), url(img/icono2.png),pointer;
}
h1 h2 h3 h4{
    font-family: 'Advent Pro', sans-serif;
}
p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
}
#mensajeluna p{
    font-family: 'Gurajada', serif;
    font-size: 26px;
    margin-bottom: 0;
}

ul{
    text-align: left;
}

/* FIN RESET */
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    background: rgb(200, 145, 145);
    width: 5px;
    border-radius: 10px;
    position: absolute;
}

#sect-proyect #Modal::-webkit-scrollbar{
    width: 16px;
    background: #ffffff;
}
#sect-proyect #Modal::-webkit-scrollbar-thumb{
    background: rgb(56, 56, 56);
    width: 10px;
    border-radius: 10px;
    position: absolute;
}


html {
    scroll-behavior: smooth;
}
/* barra de navegacion */
.bg-port-d{
    background: #ded2c0;
    position: fixed;
    z-index: 10;
    width: 100%;
}
.navbar-light .navbar-toggler{
    border: transparent;
}
button:focus {
    outline: 0px;
    outline: 0px;;
}
/* barra de navegacion pag principal */
.navbar-light .navbar-nav .nav-link{
    margin: 0 50px;
    color: #6c464e;
}
/* barra de navegacion pag de animaciones */
#barranavanima .navbar-light .navbar-nav .nav-link{
    margin: 0 14px;
    color: #6c464e;
}

.navbar-light .navbar-nav .nav-link:hover{
    border-bottom: 1px solid #6c464e;
}




/* INICIO HEADER */

header{
    background-image: url(../img/bg-inicio.jpg);
    background-size: cover;
    background-position-x: 74%;
    padding-top: 90px;
    min-height: 700px;
    color: #6c464e;
    position: relative;
    height: 100vh;
}

header::before{
    background-image: linear-gradient(to right, #ded2c0 0% 60%, transparent 62% 100%);
    content: '';
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.cont-text{
    margin: 100px 10px 10px 0;
}

/* FIN HEADER */




/* INICIO NOTICIAS */

#nyheter{
    background-color: #cf9e9e;
    background-size: cover;
    background-position-x: center;
    min-height: 700px;
    color: #6c464e;
    position: relative;
    text-align: center;
}

#nyheter h1{
    margin: 40px 0 40px;
}
#nyheter p{
    font-size: 32px;
}
#nyheter::before{
    content: '';
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
}

#nyheter .cont-text{
    margin-top: 0;
    padding-top: 60px;
}

/* FIN NOTICIAS */




/* INICIO DE TRABAJOS PAGINA PRINCIPAL */
/* .videosYT img{
    height: 200px;
} */
/* FIN DE TRABAJOS PAGINA PRINCIPAL */


/* INICIO MATERIAL  O ESTUDIOS Y PROYECTOS  PAGINA DE CONTACTO*/

#material{
    background-color: #ded2c0;
    color: #6c464e;
    position: relative;
    padding: 30px;
}
#material h1{
    margin: 30px 0 60px;
    text-align: center;
}
#material .cont-text{
    margin-top: 0px;
    text-align: center;
    padding-top: 60px;
}
#material .cont-text h2{
    padding: 30px 0;
}
/* FIN MATERIAL */
/* INICIO CONTACTO */

#contacto{
    background-color: #cf9e9e;
    background-size: cover;
    background-position-x: center;
    position: relative;
    color: #6c464e;
}
#contacto .cont-text{
    margin: 0 0 0px;
    text-align: center;
    padding: 60px 0 40px;
}

#contacto .row0 input{
    width: 48%;
    margin: 0 6px 0 10px;
}
#contacto img{
    padding: 40px 0px 40px 0px;
}
#contacto .row0 textarea{
    width: 100%;
    border-radius: 5px;
    margin-top: 30px;
    min-height: 200px;
    max-height: 200px;
    box-decoration-break: none;
}
#contacto .row{
    justify-content: center;
}
#correo{
    color: #6c464e;
    font-size: 20px;
}
#version{
    text-align: left;
    font-size: 8px;
}

/* FIN CONTACTO */

/* INICIO BOTON FLOTANTE TEMA */
#btn-tema{
    position: fixed;
    z-index: 11;
    top: 37%;
    right: 0px;
    background: transparent;
    transition: .4s;
}
#btn-tema.active{
    right: 144px;
    transition: .4s;
    z-index: 12;
    transition: .4s;
}

#btn-tema img{
    animation: rotacion 5s linear infinite;
}

@keyframes rotacion{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

/* contenedor de los temas */
#cont-colores{
    background: #F5F5DC;
    position: fixed;
    z-index: 11;
    top: 40%;
    right: -242px;
    padding: 20px;
    transition: .4s;
    text-align: center;
    border-radius: 0 0 0 30px;
    box-shadow: 10px 10px 33px -8px rgb(0 0 0 / 75%);
}
#cont-colores p{
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
}
#cont-colores.active{
    right: 0;
    transition: .4s;
}
/* fin contenedor de los temas */

/* temas a seleccionar */
#nochedia img{
    cursor: pointer;
}

#morado{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: purple; 
    border: purple; 
    outline: none;
}

#verde{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(113, 235, 113);
    border: rgb(113, 235, 113);
    outline: none;
}

#rosa{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(243, 133, 243);
    border: rgb(243, 133, 243);
    outline: none;
}

#azul{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(103, 116, 170);
    border: rgb(103, 116, 170);
    outline: none;
}
/* fin de temas a seleccionar */

/* VARIANTES DE COLORES O TEMAS */
/* VARIANTES DE COLORES O TEMAS */
/* VARIANTES DE COLORES O TEMAS */

/* TEMA CLARO */
#body.dia #sol{
    width: 30px;
    border: 4px solid #000000;
    border-radius: 20px;
    transition: .3s;
}
#body.dia .navbar-light .navbar-nav .nav-link{
    color: #6c464e;
    transition: .3s;
}
#body.dia header{
    color: #6c464e;
    transition: .3s;
}
#body.dia #cont-colores{
    background: #f8f1e7;
    transition: .3s;
}
#body.dia #btn-tema{
    background: transparent;
    transition: .3s;
}
#body.dia .bg-port-d{
    background: #ded2c0;
    transition: .3s;
}
#body.dia header::before{
    transition: .3s;
}
#body.dia #material{
    color: #6c464e;
}
#body.dia #material::before{
    background: transparent;
    transition: .3s;
}
#body.dia .itemcard{
    background: #b9e6f1;
}
#body.dia #contacto{
    color: #6c464e;
}
#body.dia #contacto::before{
    background: transparent;
    transition: .3s
}
#body.dia #correo{
    color: #6c464e;
}
/* FIN TEMA CLARO */


/* TEMA OSCURO */

#body.noche #luna{
    width: 30px;
    border: 4px solid #000000;
    border-radius: 20px;
    transition: .3s;
}
#body.noche .navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    transition: .3s;
}
#body.noche .navbar-light .navbar-toggler-icon{
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 20px;
    transition: .2s;
    outline: none;
}
#body.menuoscuroactivo .navbar-light .navbar-toggler-icon{
    background: transparent;
    width: 30px;
    height: 30px;
    outline: none;
    border-radius: 20px;
    border: 4px solid #69cfb2;
}
#body.noche header{
    color: #ffffff;
    transition: .3s;
}
#body.noche #btn-tema{
    background: transparent;
    transition: .3s;
}
#body.noche .bg-port-d{
    background: #0a0a0a;
    transition: .3s;
}
#body.noche header::before{
    background-image: linear-gradient(to right, #0a0a0a 0% 60%, transparent 64% 100%);
    transition: .3s;
}
#body.noche #nyheter{
    color: #ffffff;
    background: transparent;
}
#body.noche #nyheter::before{
    background: #0a0a0a;
    transition: .3s;
    z-index: -1;
}
#body.noche #material{
    background-color: #000000;
    color: #ffffff;
    transition: .3s;
}
#body.noche .itemcard{
    background: #ffffff;
    transition: .3s;
}
#body.noche #contacto{
    background: #000000;
    color: #ffffff;
    transition: .3s;
}
#body.noche #correo{
    color: #ffffff;
}
#body.noche #material .modal-body{
    background: #000000;
}
#body.noche #material .modal-header{
    background: #000000;
}
#body.noche #material .modal-footer{
    background: #000000;
}
/* FIN DE TEMA OSCURO */

/* TEMA MORADO */
#body.morado #morado{
    width: 30px;
    height: 30px;
    background: transparent;
    border: 4px solid purple;
    transition: .3s;
}
#body.morado .bg-port-d{
    background: #8c51a9;
    transition: .3s;
}
#body.morado header p{
    color: #8c51a9;
}
#body.morado #nyheter p{
    color: #8c51a9;
    transition: .3s;
}
#body.morado #material .modal-header{
    background: #cca9dd;
}
#body.morado #material .modal-body{
    background: #cca9dd;
}
#body.morado #material .modal-footer{
    background: #cca9dd;
}
#body.morado .itemcard{
    background: #5a3666;
}
#body.morado .btn-primary{
    color: #cca9dd;
    background: #ffffff;
    border: #cca9dd;
    transition: .3s;
}
/* FIN DE TEMA MORADO */

/* TEMA VERDE */
#body.verde #verde{
    width: 30px;
    height: 30px;
    background: #f5f5dc;
    border: 4px solid rgb(113, 235, 113);
    transition: .3s;
}
#body.verde .bg-port-d{
    background: #4cc22f;
    transition: .3s;
}
#body.verde header p{
    color: #398d23;
}
#body.verde #nyheter p{
    color: #398d23;
    transition: .3s;
}
#body.verde #material .modal-header{
    background: #aaf093;
}
#body.verde #material .modal-body{
    background: #aaf093;
}
#body.verde #material .modal-footer{
    background: #aaf093;
}
#body.verde .itemcard{
    background: #174e17;
}
#body.verde .btn-primary{
    color: #aaf093;
    background: #ffffff;
    border: #aaf093;
    transition: .3s;
}
/* FIN DE TEMA VERDE */

/* TEMA ROSA */
#body.rosa #rosa{
    width: 30px;
    height: 30px;
    background: #f5f5dc;
    border: 4px solid rgb(243, 133, 243);
    transition: .3s;
}
#body.rosa .bg-port-d{
    background: #e3299f;
    transition: .3s;
}
#body.rosa header p{
    color: #e3299f;
}
#body.rosa #nyheter p{
    color: #e3299f;
    transition: .3s;
}
#body.rosa .itemcard{
    background: #d8acd5;
}

/* FIN TEMA ROSA */



/* INICIO TEMA AZUL */
#body.azul #azul{
    width: 30px;
    height: 30px;
    background: #f5f5dc;
    border: 4px solid #6774aa;
    transition: .3s;
}
#body.azul header p{
    color: #6372c6;
}
#body.azul #material .modal-header{
    background: #93a1f0;
}
#body.azul #material .modal-body{
    background: #93a1f0;
}
#body.azul #material .modal-footer{
    background: #93a1f0;
}
#body.azul .bg-port-d{
    background: #6372c6;
    transition: .3s;
}
#body.azul .itemcard{
    background: #1a0d65;
}
#body.azul .btn-primary{
    color: #93a1f0;
    background: #ffffff;
    border: #93a1f0;
    transition: .3s;
}
#body.azul #nyheter p{
    color: #6774aa;
}
/* FIN TEMA AZUL */



/* INICIO DE TEMAS PAGINA DE ANIMACIONES */
/* INICIO DE TEMAS PAGINA DE ANIMACIONES */
/* TEMA CLARO */
#boody.dia2 #sol{
    width: 30px;
    border: 4px solid #000000;
    border-radius: 20px;
    transition: .3s;
}
/* FIN TEMA CLARO */


/* TEMA OSCURO */
#boody.noche2 #luna{
    width: 30px;
    border: 4px solid #000000;
    border-radius: 20px;
    transition: .3s;
}
#boody.noche2 #animapag{
    background: #000000;
    transition: .3s;
}
#boody.noche2 #titulo{
    color: #ffffff;
    transition: .3s;
}
#boody.noche2 .bg-port-d{
    background: #000000;
    transition: .3s;
}
#boody.noche2 .navbar-light .navbar-toggler-icon{
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 20px;
    transition: .8s;
    outline: none;
}
#boody.menuoscuroactivo .navbar-light .navbar-toggler-icon{
    background: transparent;
    width: 30px;
    height: 30px;
    outline: none;
    border-radius: 20px;
    border: 4px solid #5ddbce;
}
#boody.noche2 #barranavanima .navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    transition: .3s;
}
#boody.noche2 #cortospag{
    background: #000000;
    transition: .3s;
}
#boody.noche2 #podcastpag{
    background: #000000;
    color: white;
    transition: .3s;
}
#boody.noche2 #publipag{
    background: #000000;
    transition: .3s;
}
#boody.noche2 #paginaswebextra{
    background: #000000;
    transition: .3s;
}
#boody.noche2 #paginaswebextra h5{
    color: #ffffff;
}
#boody.noche2 #contacto{
    background: #000000;
    transition: .3s;
}
#boody.noche2 #correo{
    color: #ffffff;
    transition: .3s;
}
/* FIN TEMA OSCURO */
/* TEMA MORADO */
#boody.morado #morado{
    width: 30px;
    height: 30px;
    background: #f5f5dc;
    border: 4px solid purple;
    transition: .3s;
}
#boody.morado .bg-port-d{
    background: #af63d5;
    transition: .3s;
}
#boody.morado #titulo{
    color: purple;
    transition: .3s;
}
#boody.morado #paginaswebextra h5{
    color: purple;
}
#boody.morado #podcastpag{
    color: purple;
    transition: .3s;
}
/* FIN TEMA MORADO */
/* TEMA VERDE */
#boody.verde #verde{
    width: 30px;
    height: 30px;
    background: #f5f5dc;
    border: 4px solid rgb(72, 212, 72);
    transition: .3s;
}
#boody.verde .bg-port-d{
    background: #6dc94e;
    transition: .3s;
}
#boody.verde #titulo{
    color: rgb(25, 157, 25);
    transition: .3s;
}
#boody.verde #paginaswebextra h5{
    color: rgb(25, 157, 25);
}
#boody.verde #podcastpag{
    color: rgb(4, 102, 4);
    transition: .3s;
}
/* FIN TEMA VERDE */
/* TEMA ROSA */
#boody.rosa #rosa{
    width: 30px;
    height: 30px;
    background: #f5f5dc;
    border: 4px solid rgb(243, 133, 243);
    transition: .3s;
}
#boody.rosa .bg-port-d{
    background: #f093d1;
    transition: .3s;
}
#boody.rosa #titulo{
    color: rgb(195, 60, 195);
    transition: .3s;
}
#boody.rosa #paginaswebextra h5{
    color: rgb(195, 60, 195);
}
#boody.rosa #podcastpag{
    color: rgb(243, 133, 243);
    transition: .3s;
}
/* FIN TEMA ROSA */
/* TEMA AZUL */
#boody.azul #azul{
    width: 30px;
    height: 30px;
    background: #f5f5dc;
    border: 4px solid rgb(103, 116, 170);
    transition: .3s;
}
#boody.azul .bg-port-d{
    background: #93a1f0;
    transition: .3s;
}
#boody.azul #titulo{
    color: rgb(103, 116, 170);
    transition: .3s;
}
#boody.azul #paginaswebextra h5{
    color: rgb(103, 116, 170);
}
#boody.azul #podcastpag{
    color: rgb(103, 116, 170);
    transition: .3s;
}
/* FIN TEMA AZUL */

/* FIN DE TEMAS PAGINA DE ANIMACIONES */
/* FIN DE TEMAS PAGINA DE ANIMACIONES */



/* FIN DE VARIANTES DE COLORES O TEMAS */
/* FIN DE VARIANTES DE COLORES O TEMAS */
/* FIN DE VARIANTES DE COLORES O TEMAS */

/* FIN BOTON FLOTANTE TEMA */

/* PAGINA 2 EN DONDE ESTAN LOS VIDEOS Y TRABAJOS */
/* coreccion de titulos */
#titulo{
    text-align: center;
    color: #6c464e;
    font-style: italic;
    margin-top: 30px;
}
#idiomas img:hover{
    transform: scale(.8);
    transition: .3s;
}
/* INICIO DE ANIMACIONES */
#animapag{
    text-align: center;
    color: #6c464e;
    background-color: #ded2c0;
    padding: 80px 30px 30px 30px;
}
#animapag body{
    padding: 0px;
}
#gifs .row{
    display: flex;
}
#gifs .column{
    flex: 20%;
}
/* FIN DE ANIMACIONES */

/* INICIO CORTOS */
#cortospag{
    background-color: #cf9e9e;
    padding: 30px;
}
/* FIN CORTOS */
/* INICIO PAGINAS WEB EXTRA */
#paginaswebextra{
    background-color: #ded2c0;
    padding: 30px;
}
#paginaswebextra img{
    margin-bottom: 100px;
    padding: 40px 0;
}
/* FIN PAGINAS WEB EXTRA */
/* INICIO PODCAST */
#podcastpag{
    background-color: #cf9e9e;
    padding: 30px;
    text-align: center;
    color: #000000;
}
#podcastpag h5{
    padding-bottom: 40px;
}
/* FIN PODCAST */
/* INICIO BOTONES DE ANIMACION Y DIBUJOS */
.itemcard{
    border-radius: 50%;
    height: 230px;
    width: 230px;
    margin: 10px;
    display: inline-block;
    position: relative;
    padding: 20px;
    box-shadow: 0px 0px 40px -8px rgba(100, 100, 100, 0.75);
}
.itemcard h5{
    color: rgb(0, 119, 255);
    font-size: 26px;
    text-decoration: none;
    position: absolute;
    top: 40%;
}
.itemcard:hover{
    transform: scale(.8);
    transition: .5s;
    box-shadow: 0px 0px 40px -4px rgb(0 0 0 / 75%);
    cursor: pointer;
}
/* FIN BOTONES DE ANIMACION Y DIBUJOS */
/* INICIO PUBLICIDAD */
#publipag{
    background-color: #ded2c0;
    padding: 30px;
}
#publipag img{
    height: 170px;
    width: auto;
}
/* FIN PUBLICIDAD */

/* CENTRADO DE VIDEOS E IMAGENES */
.videosYT{
    text-align: center;
}
/* fin de centrado videos  e imagenes */
/* ESPACIO DE ARRIBA A ABAJO DE LOS VIDEOSYT */
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
padding: 40px 0; 
}
/* FIN DE ESPACIO DE ARRIBA A ABAJO DE LOS VIDEOSYT */

/* PUBLICIDAD DE LUNASTRAR */
#mensajeluna{
    z-index: 10;
    position: fixed;
    background: #ffffff;
    color: #d59acb;
    top: 76%;
    right: 0;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    border-radius: 20px 0 0 20px;
    transition: 1s;
    box-shadow: 10px 10px 33px -8px rgb(0 0 0 / 75%);
}
#mensajeluna a{
    color: #d59acb;
}
/* FIN PUBLICIDAD DE LUNASTRAR */








/* VERSION DE MOVIL*/

@media screen and (max-width:600px) and (min-width:220px){
    p{
        font-size: 20px;
    }
    header{
        background-position-x: left;
    }
    .introduccioninicio{
        text-align: center;
    }
    #correo{
        font-size: 16px;
    }
    .videosYT iframe{
        width: 200px;
    }
    .videosYT img{
        width: 150px;
    }
    header:before{
        background-color: #ded2c0;
    }
    #body.noche header::before{
        background-image: linear-gradient(to right, #0a0a0a 100%, transparent);
    }
}
@media screen and (max-width:309px) and (min-width:0px){
    .itemcard{
        margin-left: -6px;
    }
}
@media screen and (max-width:1078px) and (min-width:0px){
    header{
        text-align: center;
    }
}
@media screen and (max-width:414px) and (min-width:0px){
    #nyheter iframe{
        width: 222px;
    }
    #publipag img{
        width: 140px;
        height: auto;
    }
}



/* VERSION DE TABLETA */
@media screen and (max-width:1078px) and (min-width:601px){
    header:before{
        background-color: #ded2c0;
    }
    #body.noche header::before{
        background-image: linear-gradient(to right, #0a0a0a 100%, transparent);
    }
    header{
        background-position-x: left;
    }
    .videosYT img{
        width: 200px;
    }  
}
@media screen and (max-width:1520px) and (min-width:1079px){
    header h1{
        font-size: 30px;
    }
    header p{
        font-size: 26px;
    }
}

/* VERSION DE ESCRITORIO */
@media screen and (max-width:5000px) and (min-width:1079px){
    #gifs img{
        width: 100%;
    }
    #gifs .row{
        display: flex;
    }
    #gifs .column{
        flex: 20%;
    }
}

/* AJUSTES ADICIONALES EN RESPONSIVE */
/* TARJETAS DE ESTUDIOS Y PROYECTOS */
@media screen and (max-width:780px) and (min-width:0px){
}
/* CORECCION TAMAÑO DE VIDEOS */
@media screen and (max-width:1228px) and (min-width:1060px){
    .videosYT iframe{
        width: 490px;
    }
}
@media screen and (max-width:1060px) and (min-width:601px){
    .videosYT .carousel-item iframe{
        width: 400px;
    }
}
/* FIN CORECCION TAMAÑO DE VIDEOS */


@media screen and (max-width:5000px) and (min-width:992px){
    
}